<style>
    .countdown {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 2rem;
        font-weight: bold;
        color: white;
        border-radius: 10px;
        padding: 20px;
    }

    .countdown div {
        align-items: center;
        margin: 0 20px;
    }

    .countdown p {
        margin: .5rem;
    }

    .countdown p:first-child {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .countdown p[data-label]::after {
        content: attr(data-label);
        font-size: 0.8rem;
        text-transform: uppercase;
        color: gray;
    }

    .countdown p[data-label] {
        font-size: 2.5rem;
    }
</style>

<!-- List group-->
<ul class="list-group shadow">
    
    <% for (let countdown of countdowns) { %>

    <!-- list group item-->
        <li class="list-group-item text-white mb-3 rounded bordered" style="background-color: 	#141d26;">
            <div class="countdown" data-end-time="<%= countdown.endsAt %>">  
                <h1><%= countdown.title %></h1>
                <div class="d-flex column">
                    <div>
                        <p data-label="days">.</p>
                    </div>   
                    <div>
                        <p data-label="hours">.</p>
                    </div> 
                    <div>
                        <p data-label="minutes">.</p>
                    </div> 
                    <div>
                        <p data-label="seconds">.</p>
                    </div>
                </div>
            </div>
        </li>
        
    <% } %>
    
</ul>

<script>
    const changeCountdownTexts = (countdown, endsAt) => {
        const timeLeft = endsAt - new Date();
            if (timeLeft > 0) {
                const days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
                const hours = Math.floor((timeLeft / (1000 * 60 * 60)) % 24);
                const minutes = Math.floor((timeLeft / (1000 * 60)) % 60);
                const seconds = Math.floor((timeLeft / 1000) % 60);
                for (div of countdown.children[1].children){
                    const child = div.children[0];
                    switch (child.getAttribute('data-label')) {
                        case 'days':
                            child.textContent = days;
                            break;
                        case 'hours':
                            child.textContent = hours;
                            break;
                        case 'minutes':
                            child.textContent = minutes;
                            break;
                        case 'seconds':
                            child.textContent = seconds;
                            break;
                    }
                }
            } else {
                for (div of countdown.children){
                    const child = div.children[1];
                    child.textContent = '0';
                }
            }
    };
    const countdowns = document.querySelectorAll('.countdown');
    countdowns.forEach((countdown) => {
        const endsAt = new Date(countdown.getAttribute("data-end-time"));
        changeCountdownTexts(countdown, endsAt)
        setInterval(() => {
            changeCountdownTexts(countdown, endsAt);
        }, 1000);    
    });
</script>