<!-- List group-->
<ul class="list-group shadow">
    
    <% for (let countdown of countdowns) { %>

    <!-- list group item-->
        <li class="list-group-item bg-secondary text-white mb-3 rounded bordered">
            hey
        </li>
        
    <% } %>
    
</ul>"