<style>
    .goalContainer {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      text-align: center;
    }

    .goalBox {
    min-width: 30em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 7em;
    /* flex-direction: row; */
    }

    @media (max-width: 480px) {
    .goalBox {
        padding-right: 1.5em;
        font-size: 12px;
    }
    }
  
  .goal {
    background-color: #243447;
    border-radius: 1.25rem;
    box-shadow: 0rem 0rem 0.625rem black;
    padding: 2.5rem;
    text-align: center;
    width: 75%;
    overflow-wrap: break-word;
    text-decoration: none;
    margin: 0 1.25rem 2rem 1.25rem;
  }

  .trashcan {
    padding-right: 6em;
  }

</style>

<div class="goalContainer">
    <% for (todoType of todoTypes) { %>
      <% todoTitle = todoType.split("_").map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(" ") %>
      
        <div class="goalBox">
          <a href="todos/<%=todoType%>" class="goal text-white glow-on-hover">
            <div style="display: block;">
                <h2><%=todoTitle%></h2>
            </div>
          </a>
          <a href="/manage-todos/delete/<%= todoType %>" class="btn btn-lg text-white trashcan" style="transform: scale(1.5);">
            <i class="fas fa-trash"></i>
          </a>   
        </div>   
    <% } %>
</div>

