<div class="container py-5 transparentMain">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4" id="page-title"><%= page_title %></h1>
            <a class="btn btn-secondary glow-on-hover" style="border-radius: 50%" href="<%= addRoute %>">
                <i class="fas fa-plus"></i>
            </a>
            <% if (success.length > 0) {%>
                <div class="alert alert-success alert-sm" role="alert" style="padding: .2rem; margin-top: .5rem;">
                    <h2><%= success %></h2>
                </div>
            <% } %> 
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 mx-auto"> <!-- Make number bigger to make the box wider -->

            <%- include(`${innerList}`); %>
            
        </div>
    </div>
</div>