<link href="/css/nav.css" rel="stylesheet" type="text/css">

<nav>
    <div class="logo-container">
        <img src="images/favicon.ico" alt="Logo">
    </div>
    <div className='nav-list'>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/test">Test</a></li>
        </ul>
    </div>
</nav>
