<style>
    .dropdown-item:hover {
        background-color:  blue;
    }

    .nav-link {
        font-size: 20px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
<div class="container-fluid">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png" alt="Logo" width="60" height="48" class="d-inline-block align-text-center">
        Yoangelo Website
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link mx-2" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-2" aria-current="page" href="/manage-todos">Goals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-2" aria-current="page" href="/countdowns">Countdowns</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-2" aria-current="page" href="/wishlist">Wishlist</a>
            </li>
        </ul>

        <ul class="navbar-nav ms-auto d-lg-inline-flex d-block">
            <% if (!loggedIn) {%>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="/auth/login">Login</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="/notifications" id="notificationBell">
                        <i class="fas fa-bell"></i>
                        <% if (notifNums.notifUnreadTotal > 0 ) {%>
                        <span class="badge bg-danger" id="notificationBadge"><%= notifNums.notifUnreadTotal %></span>
                        <% } %> 
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link mx-2 dropdown-toggle" id="profileDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                    </a>
                    <ul class="dropdown-menu bg-dark dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item text-light" href='/profile/settings'>Settings</a></li>
                        <% if (!hasPair) {%>
                            <li><a class="dropdown-item text-light" href="/pair/request_pair">Request Pair</a></li>
                        <% } %> 
                        <li><a class="dropdown-item text-light" href="/auth/logout">Logout</a></li>
                    </ul>
                </li>
            <% } %>
        </ul>
    </div>
</div>
</nav>
  
<script>
    // Get the current URL
    const currentUrl = window.location.href.split('?')[0];
  
    // Find the link that matches the current URL
    const links = document.querySelectorAll('.navbar-nav a');
    for (let i = 0; i < links.length; i++) {
        if (links[i].href === currentUrl) {
            links[i].classList.add('active');
            if (links[i].closest('.dropdown-menu')) {
            const dropdownToggle = links[i].closest('.dropdown-menu').previousElementSibling;
            dropdownToggle.classList.add('active');
            }
        }   
    }

    const notifTotal = '<%= notifNums.notifTotal %>';
    if (typeof notifTotal !== 'undefined' && notifTotal < 1){
        document.getElementById("notificationBell").classList.add("disabled");
    }
</script>