<div style="padding: 1%; color: white;">

    <h1><%= message %></h1>
     <% if (typeof error != 'undefined') { %>
        <p><%= error.status %></p>
        <pre><%= error.stack %></pre>
      <% } %>
</div>