<link rel="stylesheet" href="css/home.css">

<div class="homeContainer" style="overflow-x: hidden;">
    <% if (success.length > 0) {%>
        <div class="alert alert-success alert-sm" role="alert" style="padding: .2rem; margin-top: .5rem; text-align: center; width: 50%; margin: 0 auto;">
            <h2><%= success %></h2>
        </div>
    <% } %>

    <div class="content mt-5 cursorHover">
        <a style="text-decoration: none;">

        <div class="square twitch" style="margin-bottom: 3.125rem;">
            <span class="one" ></span>
            <span class="two"></span>
            <span class="three"></span>
            <div id="circleContainer" class="circle">
                <h2 class="homeTitle">Yoangelo Website</h2>
                <p>A place for pairs to connect</p>
            </div>
        </div>

        <div class="homeLink">
            <span class="actual-text">&nbsp;Yoangelo Website&nbsp;</span>
            <span class="hover-text" aria-hidden="true">&nbsp;Yoangelo Website&nbsp;</span>
        </div>

        </a>
    </div>
</div>