body {
    background: linear-gradient(to right, #c04848, #480048);
}

.glow-on-hover {
    transition: box-shadow 0.3s ease-in-out;
}

.glow-on-hover:hover {
    box-shadow: 0 0 10px pink;
}   

.top-right-button {
    margin-top: .1rem;
    margin-right: .2rem;
    position:absolute;
    top:0;
    right:0;
    font-size: 1.5em;
}

.bordered {
    border: 2px solid white !important; 
    box-shadow: 0 0 .5rem #ff69b4;
}