body {
    background: linear-gradient(to right, #c04848, #480048);
}

.glow-on-hover {
    transition: box-shadow 0.3s ease-in-out;
}

.glow-on-hover:hover {
    box-shadow: 0 0 10px pink;
}   

.top-right {
    margin-top: .1rem;
    margin-right: .2rem;
    position:absolute;
    top:0;
    right:0;
    font-size: 1.5em;
}

.bordered {
    border: 0.125rem solid #E1D9D1 !important; 
    box-shadow: 0 0 .5rem #ff69b4;
}

.transparentMain {
    background: rgb(33, 37, 41, .8);
}

.extras-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.extras-header {
    text-align: center;
}

.extras-header * {
    font-size: 6em;
    font-weight: bold;
    color: pink;
}
.extras-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ModifyButtons {
    justify-content: center;
    gap: 10px;
}

.overflowElipsis {
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}

.titleWrapDown {
    display: inline-block; 
    width: 100%; 
    white-space: normal; 
    margin-bottom: 2rem;
}