<form action='/manage-todos/create' method="POST">

    <h2 class="fw-bold mb-2 text-uppercase">Create a todolist</h2>
    <p class="text-white-50 mb-5">
        Please select the title of your new todo list! <br>
        The chosen title will automatically have List at the end. <br>
        For example, if the entered title is Watch, the title becomes Watch List.
    </p>

    <div class="form-outline form-white mb-4">
        <div style="display: flex; flex-direction: row;">
            <input type="text" name="title" class="form-control form-control-lg" style="margin-right: 1rem;" required/>
            <label class="form-label" for="title" style="font-size: x-large;">List</label>
        </div>
        <label class="form-label" for="title" style="font-size: 2em;">Title</label>
    </div>

    <button class="btn btn-outline-light btn-lg px-5" type="submit">Create</button>
</form>