<style>
  .externalLoginButton {
    background-color: #ffffff; 
    border-radius: 0.3125rem; 
    padding: 0.625rem; 
    border: 0.125rem solid #4285F4;
  }

  .externalLoginButton a {
    text-decoration: none; color: #000000; display: flex; align-items: center;
  }

  .externalLoginButton:hover {
    background-color: #4285F4;
    border: 0.125rem solid white;
  }
  .externalLoginButton:hover a {
    color: #ffffff;
  }

</style>

<form action="/auth/login" method="POST">

  <% if (success.length > 0) {%>
    <div class="alert alert-success" role="alert">
      <h2><%= success %></h2>
    </div>
   <% } %>

  <% if (error.length > 0) {%>
    <div class="alert alert-danger" role="alert">
      <h2><%= error %></h2>
    </div>
   <% } %> 

    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
    <p class="text-white-50 mb-5">Please enter your login and password!</p>

    <div class="form-outline form-white mb-4">
      <input type="email" name="email" class="form-control form-control-lg" required/>
      <label class="form-label" for="email">Email</label>
    </div>

    <div class="form-outline form-white mb-4">
      <input type="password" name="password" class="form-control form-control-lg" required/>
      <label class="form-label" for="password">Password</label>
    </div>

    <button class="btn btn-outline-light btn-lg px-5 mb-5" type="submit">Login</button>
</form>

<button class="externalLoginButton">
  <a href="/auth/google">
    <i class="fab fa-google fa-lg" style="margin-right: 0.625rem;"></i>
    Sign in with Google
  </a>
</button>

<%# <div class="d-flex justify-content-center text-center mt-4 pt-1">
  <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
  <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
  <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
</div> %>

<p class="small mb-2 pb-lg-2 mt-5"><a class="text-white-50" href="/auth/password/request_reset">Forgot password?</a></p>

<div>
<p class="mb-0">Don't have an account? <a href="/auth/signup" class="text-white-50 fw-bold">Sign Up</a>
</p>
</div>