<form action="/notifications/respond_pair_request" method="POST">

    

    <h1 class="fw-bold mb-2 text-uppercase">User</h1>
    <p class="text-white-50 mb-5">wants to pair with you</p>

    <button type="submit" name="yesno" value="accept" class="btn btn-success me-2 btn-lg px-4">Accept</button>
    <button type="submit" name="yesno" value="reject" class="btn btn-danger btn-lg px-4">Reject</button>
    
</form>