<% if (typeof pair_request === 'undefined') { %>

    <h2 class="fw-bold mb-2 text-uppercase">Pair Request Not Found</h2>

<% } else { %>

<form action="" method="POST" id="pair-request-form">

    <h2 class="fw-bold mb-2 text-uppercase text-und">Pair Request</h2>
    <h3 class="fw-bold mb-2"><%= pair_username %></h3>
    <p class="mb-5"><%= pair_email %></p>

    <button type="button" class="btn btn-success me-2 btn-lg px-4 glow-on-hover" onclick="confirmPairRequest('accept')">Accept</button>
    <button type="button" class="btn btn-danger btn-lg px-4 glow-on-hover" onclick="confirmPairRequest('reject')">Reject</button>
    
</form>

<script>
  
window.addEventListener('DOMContentLoaded', function() {
    var currentLink = window.location.href;
    var form = document.getElementById('pair-request-form');
    form.setAttribute('action', currentLink);
  });

function confirmPairRequest(action) {
  if (confirm('Are you sure you want to ' + action + ' this pair request?')) {
    const pair_form = document.getElementById('pair-request-form');
    const input = document.createElement('input');
    input.setAttribute('type', 'hidden');
    input.setAttribute('name', 'yesno');
    input.setAttribute('value', action);
    pair_form.appendChild(input);
    pair_form.submit();
  }
}
</script>

<% } %>
